<section class="h-100">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0">Shipping Information</h3>
                </div>

                <div class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                        <form id="shippingForm">
                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="tel" id="phoneNumber" class="form-control form-control-lg" required />
                                        <label class="form-label" for="phoneNumber">Phone Number</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6 mb-4 mb-md-0">
                                    <div data-mdb-input-init class="form-outline">
                                        <select id="country" class="form-select form-control-lg country" required onchange="loadStates()">
                                            <option value="" selected disabled>Loading countries...</option>
                                        </select>
                                        <label class="form-label " for="country">Country</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 mb-md-0">
                                    <div data-mdb-input-init class="form-outline">
                                        <select id="country" class="form-select form-control-lg state" required onchange="loadCities()">
                                            <option value="" selected disabled>Loading states...</option>
                                        </select>
                                        <label class="form-label " for="state">State</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div data-mdb-input-init class="form-outline">
                                        <select id="city" class="form-select form-control-lg city" required >
                                            <option value="" selected disabled>Loading cities...</option>
                                        </select>
                                        <label class="form-label" for="city">City</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div data-mdb-input-init class="form-outline">
                                        <textarea id="address" class="form-control form-control-lg" rows="3" required></textarea>
                                        <label class="form-label" for="address">Full Address</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <button type="submit" form="shippingForm" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-block btn-lg">Save Shipping Information</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    // Fetch countries from REST Countries API
    var config = {
        cUrl: 'https://api.countrystatecity.in/v1/countries',
        ckey: 'ZHJlSUwyeHQ1UlNOZVFNallmcTFYWlFIRGJiWlNpc0NZSHBBYnJ2SA=='
    }


    var countrySelect = document.querySelector('.country'),
        stateSelect = document.querySelector('.state'),
        citySelect = document.querySelector('.city')


    function loadCountries() {

        let apiEndPoint = config.cUrl

        fetch(apiEndPoint, { headers: { "X-CSCAPI-KEY": config.ckey } })
            .then(Response => Response.json())
            .then(data => {
                // console.log(data);

                data.forEach(country => {
                    const option = document.createElement('option')
                    option.value = country.iso2
                    option.textContent = country.name
                    countrySelect.appendChild(option)
                })
            })
            .catch(error => console.error('Error loading countries:', error))

        stateSelect.disabled = true
        citySelect.disabled = true
        stateSelect.style.pointerEvents = 'none'
        citySelect.style.pointerEvents = 'none'
    }


    function loadStates() {
        stateSelect.disabled = false
        citySelect.disabled = true
        stateSelect.style.pointerEvents = 'auto'
        citySelect.style.pointerEvents = 'none'

        const selectedCountryCode = countrySelect.value
        // console.log(selectedCountryCode);
        stateSelect.innerHTML = '<option value="">Select State</option>' // for clearing the existing states
        citySelect.innerHTML = '<option value="">Select City</option>' // Clear existing city options

        fetch(`${config.cUrl}/${selectedCountryCode}/states`, { headers: { "X-CSCAPI-KEY": config.ckey } })
            .then(response => response.json())
            .then(data => {
                // console.log(data);

                data.forEach(state => {
                    const option = document.createElement('option')
                    option.value = state.iso2
                    option.textContent = state.name
                    stateSelect.appendChild(option)
                })
            })
            .catch(error => console.error('Error loading countries:', error))
    }


    function loadCities() {
        citySelect.disabled = false
        citySelect.style.pointerEvents = 'auto'

        const selectedCountryCode = countrySelect.value
        const selectedStateCode = stateSelect.value
        // console.log(selectedCountryCode, selectedStateCode);

        citySelect.innerHTML = '<option value="">Select City</option>' // Clear existing city options

        fetch(`${config.cUrl}/${selectedCountryCode}/states/${selectedStateCode}/cities`, { headers: { "X-CSCAPI-KEY": config.ckey } })
            .then(response => response.json())
            .then(data => {
                // console.log(data);

                data.forEach(city => {
                    const option = document.createElement('option')
                    option.value = city.iso2
                    option.textContent = city.name
                    citySelect.appendChild(option)
                })
            })
    }

    window.onload = loadCountries
</script>