@{
    Layout = "_ResturantLayout";
    ViewData["Title"] = "Cemetery of the Greats";
} 
<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <img src="~/assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-flex flex-column align-items-center align-items-lg-start">
                <h2 data-aos="fade-up" data-aos-delay="100">Welcome to <span>Restaurantly</span></h2>
                <p data-aos="fade-up" data-aos-delay="200">Delivering great food for more than 18 years!</p>
                <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
                    <a href="#menu" class="cta-btn">Our Menu</a>
                    <a href="#book-a-table" class="cta-btn">Book a Table</a>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center mt-5 mt-lg-0">
                <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
            </div>
        </div>
    </div>

</section><!-- /Hero Section -->
<!-- About Section -->
<!-- Chefs Section -->
<section id="reviews" class="reviews section"></section>
<section id="chefs" class="chefs section"></section>


      


@section Scripts {
    <script>
        window.onload = function () {
                GetReviews();                                          
            GetChiefs();
           
        };
        function GetChiefs() {
           
            console.log("hi");
            $.ajax({
                url: "/Chief/ChiefsPartialView", success: function (result) {
                    $("#chefs").html(result);
                }
            });

        }
        function GetReviews() {
        
            console.log("hi");
            $.ajax({
                    url: "/Review/BestReviews", success: function (result) {
                    $("#reviews").html(result);
                    initSwiper();
                }
            });

        }
        function initSwiper() {
            const swiperContainer = document.querySelector('.init-swiper');
            if (swiperContainer) {
                const config = JSON.parse(swiperContainer.dataset.breakpoints.replace(/&quot;/g, '"'));
                new Swiper(swiperContainer, {
                    loop: true,
                    speed: 600,
                    autoplay: {
                        delay: 5000
                    },
                    slidesPerView: "auto",
                    pagination: {
                        el: ".swiper-pagination",
                        type: "bullets",
                        clickable: true
                    },
                    breakpoints: config
                });
            }
        }
    </script>
}